.navbar-collapse a {
    cursor: pointer;
    color: rgb(31, 31, 31);
    font-size: 18px;
    margin: 0 10px;
    text-shadow: 0 0 3px rgb(226, 226, 226);
    &:hover {
        text-shadow: 0 0 0 #0000;
        
    }
}
.navbar{
    box-shadow: 0 0 10px grey;
    margin-bottom: 30px;
}
.navbar-brand {
    img {
        width: 100px;
    }
}
.dropdown-item{
    padding: 0;
    &:hover{
        background-color: rgb(0, 38, 255);
        color: #fff !important;
    }
    max-width: 100%;
    margin: 0 !important;
    padding: 4px 5px;
}
.dropdown-toggle{
    background-color: rgb(0, 47, 255);
    box-shadow: 0 3px 6px rgb(0, 89, 255); 
    border: 0;
    &:hover{
        box-shadow: 0 0 0 #0000;
    }
    &:active{
        box-shadow: none;
    }
}
.active{
    color: red !important;
}
