<div class="row">
    <div class="col-xs-12 col-md-6 mx-auto">
        <h2>Authenticate</h2>
        <hr>
        <ng-template appPlaceholder></ng-template>
        <form #authForm="ngForm" (ngSubmit)="onSubmitForm(authForm)">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" class="form-control" name="email" ngModel email required>
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                <input type="password" id="password" class="form-control" required ngModel required minlength='6' name="password">
            </div>
            <div class="form-gorup">
                <button class="btn border mt-2" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? "Login" : "Sign Up"}}</button> | 
                <button class="btn border mt-2" type="button" (click)="onChangeStatus()">Switch to sign up</button>
            </div>
        </form>
    </div>
</div>