<div class="row">
    <div class="col-xs-12 recipe-img">
        <img src="{{recipeDetail.imagePath}}" alt="" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 recipe-name">
        <h1>{{recipeDetail.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Manage
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="nav-link" (click)="saveToShoppingList()">To shopping list</a></li>
                <li><a class="nav-link" (click)="onEditRecipe()">Edit recipe</a></li>
                <li><a class="nav-link" (click)="deleteRecipe()">Delete recipe</a></li>
              </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 desc">
        {{recipeDetail.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 mb-5">
       <ul class="list-group">
           <li class="list-group-item ingredients" *ngFor="let ing of recipeDetail.ingredients">{{ing.name}} -{{ing.amount}}</li>
       </ul>
    </div>
</div>