<a  
[routerLink]="id"

class="list-group-item border-0 p-0">
    <div class="card"[routerLinkActive]="'active'" style="max-width: 540px;">
        <div class="content-block">
            <div class="block">
                    <h5 class="card-title">{{recipe.name}}</h5>
                    <p class="card-text">{{recipe.description}}</p>
            </div>
            <div class="block d-flex justify-content-center align-items-center">
                <img style="max-height: 70px ;" [src]="recipe.imagePath" [alt]="recipe.name">
            </div>

        </div>
    </div>
</a>
